.card {
  @apply flex flex-col relative text-center justify-center gap-4 w-full overflow-hidden h-32 text-sm rounded-md;

  &__image {
    @apply mx-auto object-cover transition-transform ease-in-out;
  }

  &__title {
    @apply text-xs mx-auto text-gray-600 dark:text-gray-400;
  }

  &:hover {
    .card__image {
      @apply transform scale-125;
    }
    .card__title {
      @apply text-gray-950 dark:text-white;
    }
  }

  &--dark {
    @apply bg-dark-900 text-white border border-gray-600/20;

    .card__title {
      @apply text-white;
    }

    &:hover {
      @apply bg-dark-800;

      .card__title {
        @apply text-white;
      }
    }
  }
}
