.card {
  @apply flex flex-col relative text-center justify-center gap-4 w-full overflow-hidden h-32 ;

  &__image {
    @apply mx-auto object-cover transition-transform ease-in-out;
  }

  &__title {
    @apply text-xs mx-auto text-dark-400 dark:text-dark-200;
  }

  &:hover {
    .card__image {
      @apply transform scale-125;
    }
    .card__title {
      @apply text-gray-950 dark:text-white;
    }
  }

  &--dark {
    @apply bg-dark-900 text-white;

    .card__title {
      @apply text-white;
    }

    &:hover {
      @apply bg-dark-800;

      .card__title {
        @apply text-white;
      }
    }
  }
}
