.navbar {
  @apply z-50 bg-dark-900 text-white fixed h-16 w-full border-b border-gray-600/20 shadow-sm;

  &__container {
    @apply flex flex-row  h-full items-center justify-between;
  }

  &__placeholder {
    @apply h-16 bg-white dark:bg-dark-900;
  }
}

.links {
  @apply p-2 text-xl cursor-pointer;

  &:hover {
    @apply text-primary-800;
  }
}
