.navbar {
  @apply z-50 bg-dark-800 text-white fixed h-16 w-full;

  &__container {
    @apply  flex flex-row items-center justify-between h-full;
  }


  &__placeholder {
    @apply h-16 bg-white;
  }
}

.links {
  @apply p-2 text-xl cursor-pointer;

  &:hover {
    @apply text-primary-800;
  }
}
