.table-container {
  @apply hidden lg:flex flex-col gap-2;

  &__title {
    @apply font-bold text-sm;
  }
}

.table {
  @apply flex overflow-hidden w-full border dark:border-gray-600/20 rounded-md shadow-sm;

  table {
    @apply table-auto w-full bg-white text-sm;
  }

  &__head {
    @apply border-b dark:border-gray-600/20 ;
  }

  &__element {
    @apply text-left px-4 py-2 h-10;
  }

  &__row {
    @apply dark:bg-dark-800  cursor-pointer ;

    &:hover {
      @apply bg-gray-100 dark:bg-dark-900;
    }
  }
}
