.code-block {
  @apply flex flex-col h-fit overflow-hidden w-full rounded-md;
  @apply border border-dark-400/20 bg-dark-900;

  &__header {
    @apply flex flex-row justify-between;
    @apply border-b border-dark-400/20;

    :last-child {
      @apply ml-auto;
    }
  }

  &__header-title {
    @apply text-white px-4 py-3 ;
  }

  &__header-options {
    @apply flex flex-row mr-auto ;
  }

  &__button {
    @apply flex gap-2 items-center px-4 pb-3 pt-3  transition-colors  text-dark-200;

    &:hover {
      @apply text-white bg-dark-700;
    }

    &--selected {
      @apply bg-primary-800  text-white;

      &:hover {
        @apply bg-primary-900;
      }
    }

    &--no-hover {
      &:hover {
        @apply bg-transparent;
      }
    }

    &--copy {
      @apply ml-auto;
    }
  }

  &__content {
    @apply overflow-hidden bg-dark-900 w-full;
  }
}
