.code-block {
  @apply flex flex-col border border-gray-600/20 h-fit rounded-2xl overflow-hidden bg-dark-900;

  &__header {
    @apply flex flex-row justify-between  border-b border-white/[0.04]  text-sm;
    &__title {
      @apply font-semibold text-white px-4 py-3;
    }

    // last element margin left auto
    :last-child {
      @apply ml-auto;
    }
  }

  &__button {
    @apply flex gap-2 items-center px-4 pb-3 pt-3  transition-colors font-bold;
    @apply text-gray-400 border-b-2 border-dark-900 border-transparent;

    &:hover {
      @apply text-gray-300;
    }

    &--selected {
      @apply border-primary-800 text-primary-800;

      &:hover {
        @apply text-primary-800;
      }
    }

    &--no-hover {
      &:hover {
        @apply bg-transparent;
      }
    }
  }
}
