.fixed-button {
  @apply fixed z-30 h-16 w-16 flex items-center justify-center
  bg-primary-800  text-white
  text-xl font-bold transition-all;

  &:hover {
    @apply bg-primary-900;
  }

  &--hidden {
    @apply translate-x-44;
  }
}
