

.table {
    @apply flex border-2 dark:border-dark-400 overflow-hidden w-full rounded-md;

    table {
        @apply table-auto w-full bg-white;
    }

    &__head {
        @apply border-b-2 dark:border-dark-400 bg-dark-900 text-white;
    }

    &__element {
        @apply text-left px-4 py-2 h-12;
    }

    &__row {
        @apply  dark:bg-dark-800  cursor-pointer text-sm;

        &:hover {
            @apply bg-smoke-200 dark:bg-dark-900;
        }
    }
} 