.dropdown {
  @apply h-12 text-sm px-4 gap-4 w-full flex justify-between items-center border rounded-md;
  @apply bg-white text-dark-900 dark:bg-dark-900 dark:text-white dark:border-dark-400;

  &:hover {
    @apply cursor-pointer;
  }

  &--small {
    @apply h-8 px-2;
    width: fit-content;
  }

  &--disabled {
    @apply bg-gray-100 text-gray-400 dark:bg-dark-800 dark:text-dark-400 dark:border-dark-400;

    &:hover {
      @apply cursor-auto;
    }
  }

  &__placeholder {
    @apply flex gap-2 items-center;
  }

  &__popup {
    @apply absolute mt-1 w-full border shadow-lg z-30 rounded-md overflow-hidden;
    @apply bg-white  text-dark-900 dark:bg-dark-900 dark:text-white dark:border-dark-400;
  }

  &__item {
    @apply px-4 py-4 text-sm text-left items-center flex gap-2;

    &:hover {
      @apply cursor-pointer;
      @apply bg-gray-100 dark:bg-dark-800;

    }

    &--reset {
      @apply py-4 border-t w-full;
      @apply dark:border-dark-400;
    }

    &--selected {
      @apply bg-frog-700 dark:bg-frog-700 text-white;

      &:hover {
        @apply bg-frog-800 dark:bg-frog-800;
      }
    }

    &--disabled {
      @apply bg-gray-100 text-gray-400 ;
      @apply dark:bg-dark-800 dark:text-dark-400;

      &:hover {
        @apply cursor-auto;
      }
    }
  }

  &__color-picker {
    
    &__mark {
      @apply w-8 h-6 inline-block
    }

    &__input {
      @apply h-12 w-full border-0;
  
      &:hover {
        @apply cursor-pointer;
      }
    }
  
    &__item {
      @apply h-6 w-full  border transition-transform;
  
      &:hover {
        @apply scale-110 cursor-pointer;
      }
    }
  
  }
}

