// searchbar.scss

.searchbar {
  @apply py-2  text-sm px-4 flex w-full justify-between items-center border rounded-lg;
  @apply bg-white text-dark-900 dark:bg-dark-900 dark:text-white dark:border-gray-600/20;

  &__popup {
    @apply absolute mt-1 w-fit bg-white dark:text-dark-900 border shadow-lg z-30 rounded-lg;

    &__item {
      @apply px-4 py-2 hover:bg-gray-100 cursor-pointer text-sm;
    }
  }
}
