.scroll-container {
  @apply w-full flex-col inline-flex overflow-hidden gap-4 masked-image;

  &__content {
    @apply w-full flex-nowrap inline-flex overflow-hidden;
  }
}

.animate-infinite-scroll {
  @apply flex items-center justify-center md:justify-start;
  @apply [&_li]:mx-8 [&_img]:max-w-none;
  animation: infinite-scroll 50s linear infinite;
}

@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.masked-image {
  mask-image: linear-gradient(to right, transparent, black 30%, black 90%, transparent);
  mask-composite: intersect;
  -webkit-mask-composite: source-in;
}
