
.fixed-button {
  @apply z-30 fixed shadow-lg transition-all h-16 w-16 bg-primary-800 text-white;
  @apply flex items-center justify-center font-bold text-xl;

  &--hidden {
      @apply translate-x-44;
  }

  &:hover {
      @apply  bg-primary-900;
  }
}