.image-container {
  @apply flex-1 flex flex-col p-4 h-[30rem] rounded-xl min-h-[24rem] md:min-h-[0rem];

  &--light {
    @apply bg-white text-dark-900 border;
  }

  &--dark {
    @apply bg-dark-900 text-white border border-stone-600/20;
  }

  &--checkered {
    background-image: linear-gradient(45deg, #d4d4d4 25%, transparent 25%),
      linear-gradient(-45deg, #d4d4d4 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #d4d4d4 75%),
      linear-gradient(-45deg, transparent 75%, #d4d4d4 75%);
    background-size: 20px 20px;
    background-position:
      0 0,
      0 10px,
      10px -10px,
      -10px 0px;
  }

  &__image {
    @apply object-cover transition-transform ease-in-out;
  }

  &__options-list {
    @apply flex flex-row gap-4 justify-end;
  }

  &__view-box {
    @apply m-auto items-center align-middle justify-center flex;

    &--light {
      @apply border border-dotted border-stone-950;
    }

    &--dark {
      @apply border border-dotted border-white;
    }
  }
}
