.table-container {
  @apply hidden lg:flex flex-col gap-2;

  &__title {
    @apply  font-bold;
  }
}

.table {
  @apply flex w-full overflow-hidden border rounded-md;

  table {
    @apply w-full table-auto bg-white rounded-md;
  }

  &__head {
    @apply border-b bg-dark-100;
  }

  &__element {
    @apply h-10 px-4 py-2  text-left;
  }

  &__row {
    @apply cursor-pointer bg-white;

    &:hover {
      @apply bg-dark-100;
    }
  }
}
