.modal {
  @apply fixed  inset-0 z-50 flex flex-row  items-center justify-center bg-dark-900/80 backdrop-blur-sm dark:bg-black/80 overflow-hidden;

  &__container {
    @apply w-full max-w-[calc(100%-10%)] sm:max-w-[50rem] md:max-w-[60rem] md:px-8 lg:max-w-[68rem] xl:max-w-[100rem] flex flex-row gap-4;
  }

  &__body {
    @apply relative p-8 w-full  bg-white rounded-lg  dark:bg-dark-900 dark:text-white  overflow-hidden;
  }

  &__arrow-btn {
    @apply text-white text-2xl h-12 w-12 my-auto hidden md:flex justify-center items-center align-middle;

    &:hover {
      @apply text-primary-800;
    }
  }

  &__close-button {
    @apply absolute top-0 right-0 p-4 text-2xl leading-none rounded-bl-lg rounded-tr-lg bg-primary-800 dark:bg-primary-800 text-white;

    &:hover {
      @apply bg-primary-900 dark:bg-primary-900;
    }
  }
}
