.button {
    @apply flex gap-2 items-center px-2 py-2 transition-colors rounded-md;

    &:hover {
        @apply bg-smoke-200 dark:bg-dark-900;
    }


    &--small {
        @apply px-4 py-2 text-sm rounded-md;
    }

    &--icon {
        &:hover {
            @apply text-frog-800;
            background-color: transparent;
        }
    }

    &--selected {
        @apply bg-frog-700 text-white font-bold;

        &:hover {
            @apply bg-frog-800;
        }
    }


    &--disabled {
        @apply text-smoke-400 bg-transparent;

        &:hover {
            @apply bg-transparent
        }
    }

}

.icon {

    &--lg {
        @apply text-lg;
    }

    &--xl {
        @apply text-xl;
    }

    &--xxl {
        @apply text-2xl;
    }
}