// modal.scss

.modal {
  @apply fixed inset-0 z-50 flex items-center justify-center bg-gray-600/20 backdrop-blur-[2px] overflow-auto dark:bg-black/80;
  max-width: 100vw;
  max-height: 100vh;

  &__container {
    @apply mx-auto w-full py-6 px-6 sm:max-w-[40rem] md:max-w-[48rem] md:px-8 lg:max-w-[64rem] xl:max-w-[96rem];
  }

  &__content {
    @apply relative p-8 w-full shadow-xl;
    @apply bg-white rounded-2xl  dark:bg-dark-900 dark:text-white;
  }

  &__close-button {
    @apply absolute top-0 right-0 p-4 text-2xl leading-none rounded-bl-xl rounded-tr-xl;
    @apply bg-primary-800 hover:bg-primary-900 text-white;
  }
}
