.icon-image {
  @apply flex-1 flex flex-col p-4 h-[30rem] rounded-2xl;

  &--light {
    @apply bg-white text-dark-900 border;
  }

  &--dark {
    @apply bg-dark-900 text-white border border-gray-600/20;
  }
}

.view-box {
  @apply m-auto;

  &--light {
    @apply border border-dotted border-gray-600/20;
  }

  &--dark {
    @apply border border-dotted border-gray-600/20;
  }
}
