.filters-section {
  @apply bg-white dark:bg-dark-900 border-b border-gray-600/20;

  &__container {
    @apply flex-col xl:flex-row justify-between;
  }

  &__group {
    @apply flex flex-col lg:flex-row gap-4;
  }
}
