.icon-section {
  @apply flex flex-col lg:flex-row my-4 gap-8;
}

.icon-options {
  @apply flex-1 flex flex-col gap-4;
}

.option-row {
  @apply flex flex-col lg:flex-row gap-4 w-full;
}

.alias-table {
  @apply hidden lg:flex;
}

.alt-names-bar {
  @apply hidden lg:flex flex-row justify-between mt-4;
}

.icon-title {
  @apply font-bold text-xl;
}
