.code-block {
  @apply flex flex-col border border-gray-600/20 h-fit rounded-2xl overflow-hidden bg-dark-900;

  &__header {
    @apply flex flex-row justify-between  border-b border-white/[0.04]  text-sm;
    &__title {
      @apply text-white px-4 py-3;
    }

    // last element margin left auto
    :last-child {
      @apply ml-auto;
    }
  }

  &__options {
    @apply flex flex-row mr-auto;
  }

  &__button {
    @apply flex gap-2 items-center px-4 pb-3 pt-3  transition-colors;
    @apply text-gray-400 ;

    &:hover {
      @apply text-white;
    }

    &--selected {
      @apply bg-primary-800 text-white;

      &:hover {
        @apply bg-primary-800 text-white;
      }
    }

    &--no-hover {
      &:hover {
        @apply bg-transparent;
      }
    }
  }

  &__content {
    @apply overflow-hidden bg-dark-900;
  }
}
