.code-block {
  @apply flex flex-col border border-gray-600/20 h-fit rounded-lg overflow-hidden bg-dark-900;

  &__header {
    @apply flex flex-row justify-between  border-b border-gray-600/20  text-sm;

    &__title {
      @apply text-white px-4 py-3;
    }

    :last-child {
      @apply ml-auto;
    }
  }

  &__options {
    @apply flex flex-row mr-auto;
  }

  &__button {
    @apply flex gap-2 items-center px-4 pb-3 pt-3  transition-colors text-gray-400;

    &:hover {
      @apply text-white;
    }

    &--selected {
      @apply bg-primary-800 dark:bg-primary-800 text-white;

      &:hover {
        @apply bg-primary-900 dark:bg-primary-900;
      }
    }

    &--no-hover {
      &:hover {
        @apply bg-transparent;
      }
    }

    &--copy {
      @apply ml-auto;
    }
  }

  &__content {
    @apply overflow-hidden bg-dark-900;
  }
}
