.button {
  @apply flex gap-2 items-center px-2 py-2 text-dark-900 rounded-md;

  &:hover {
    @apply bg-dark-100;
  }

  &--small {
    @apply px-4 py-2;
  }

  &--icon {
    @apply hover:text-primary-900 hover:bg-transparent;
  }

  &--selected {
    @apply bg-primary-800  text-white;

    &:hover {
      @apply bg-primary-900;
    }
  }

  &--disabled {
    @apply text-dark-200  bg-transparent hover:bg-transparent;
  }
}

.icon {
  &--lg {
    @apply text-lg;
  }
  &--xl {
    @apply text-xl;
  }
  &--xxl {
    @apply text-2xl;
  }
}
