.button {
  @apply flex gap-2 items-center px-2 py-2 rounded-md text-dark-900 dark:text-white;

  &:hover {
    @apply bg-gray-50 dark:bg-dark-800;
  }

  &--small {
    @apply px-4 py-2 text-sm rounded-md;
  }

  &--icon {
    &:hover {
      @apply text-primary-900;
      @apply bg-transparent dark:bg-transparent;
    }
  }

  &--selected {
    @apply bg-primary-800 dark:bg-primary-800 text-white;

    &:hover {
      @apply bg-primary-900 dark:bg-primary-900;
    }
  }

  &--disabled {
    @apply text-gray-300 bg-transparent;

    &:hover {
      @apply bg-transparent dark:bg-transparent;
    }
  }
}

.icon {
  &--lg {
    @apply text-lg;
  }

  &--xl {
    @apply text-xl;
  }

  &--xxl {
    @apply text-2xl;
  }
}
