
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  line-height: 1.3em;
  font-size: 12px;

  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}


.base-container {
  @apply max-w-screen-2xl mx-auto;
}