.card {
  @apply flex flex-col relative text-center justify-center gap-4 w-full overflow-hidden h-32 text-sm rounded-xl;

  &__image {
    @apply mx-auto object-cover transition-transform ease-in-out;
  }

  &__title {
    @apply text-xs mx-auto text-gray-600 dark:text-gray-400 font-semibold;
  }

  &--dark {
    @apply bg-dark-900 text-white border border-gray-600/20;

    &:hover {
      @apply bg-dark-800;
    }
  }

  &:hover {
    @apply border-gray-600/20 dark:bg-dark-800;
    @apply border border-gray-600/20 shadow-md;

    .card__image {
      @apply transform scale-125;
    }

    .card__title {
      @apply font-semibold text-gray-950 dark:text-white;
    }
  }
}
