.card {
  @apply flex flex-col align-middle text-center gap-4 w-full overflow-hidden relative p-8 text-sm border transition-transform rounded-md;
  @apply bg-white shadow-md dark:bg-dark-900 dark:border-dark-400;
  
  &:hover {
    @apply scale-105;
    @apply border-frog-800 dark:border-frog-800;
  }
  

  &__version-mark {
    @apply absolute top-0 right-0 p-2 text-xs rounded-bl-md font-bold;
  
    &--primary {
      @apply bg-frog-700 text-white;
    }
  
    &--secondary {
      @apply bg-dark-900 text-white;
    }
  }
}
  