.card {
  @apply flex flex-col relative align-middle justify-center text-center gap-4 w-full overflow-hidden h-32 text-sm rounded-lg;

  &:hover {
    @apply bg-smoke-200 dark:bg-dark-800;
  }

  &--dark {
    @apply bg-dark-900 text-white border border-dark-400;

    &:hover {
      @apply bg-dark-800;
    }
  }

}