.card {
  @apply flex flex-col relative align-middle justify-center text-center gap-4 w-full overflow-hidden  h-40 text-sm border;
  @apply  rounded-md;
  @apply bg-white  dark:bg-dark-900 dark:border-dark-400;

  &--dark {
    @apply bg-dark-900 text-smoke-100 border border-dark-400;
  }
  
  &:hover {
    @apply border-frog-800 dark:border-frog-800 shadow-md;
  }

  &__version-mark {
    @apply absolute top-0 right-0 p-2 text-xs rounded-bl-md font-bold;
  
    &--primary {
      @apply bg-frog-700 text-white;
    }
  
    &--secondary {
      @apply bg-dark-900 text-white;
    }
  }
}
  