.about-section {
  @apply py-32  border-b border-dark-400/20 bg-dark-900 text-white h-full;

  &__container {
    @apply flex flex-col  gap-16;
  }

  &__header {
    @apply flex flex-col gap-4 justify-center ;
  }

  &__title {
    @apply text-3xl font-bold;
  }

  &__paragraph {
    @apply max-w-3xl items-center ;
  }
}
