.about-section {
  @apply dark:bg-dark-900 border-b border-gray-600/20;
}

.about-section-title {
  @apply flex flex-col gap-4 justify-center items-center text-center mb-12;
}

.about-section-heading {
  @apply text-3xl font-semibold dark:text-white;
}

.about-section-paragraph {
  @apply  dark:text-gray-400 max-w-3xl items-center;
}
