.cdnBlock {
  @apply py-4 bg-white text-dark-900 dark:bg-dark-900 dark:text-white border-b border-dark-400/20 w-full z-10;

  &__container {
    @apply flex flex-row gap-4 w-full;
  }

  &__placeholder {
    @apply h-16;
  }
}
