.fixed-button {
  @apply z-30 fixed font-bold shadow-md transition-all;
  @apply bg-primary-800 text-gray-950;
  @apply w-44 px-4 py-3;

  &:hover {
    @apply bg-primary-900;
  }

  &--hidden {
    @apply w-0 overflow-hidden py-3 px-0;
}
}
