.footer {
  @apply flex flex-col w-full bg-white dark:bg-dark-900 dark:text-white mt-auto;

  &__content {
    @apply mx-auto w-full px-6 sm:max-w-[40rem] md:max-w-[48rem] md:px-8 lg:max-w-[64rem] xl:max-w-[100rem];
  }

  &__grid {
    @apply grid grid-cols-2 xl:grid-cols-4 w-full py-16;
  }

  &__logo-section {
    @apply col-span-2 flex flex-col gap-4 pb-8 xl:pb-0;
  }

  &__links {
    @apply col-span-1 flex flex-col gap-2 text-sm;

    &__heading {
      @apply mb-2 text-gray-400 dark:text-gray-400;
    }

    &__link {
      @apply font-medium text-gray-950 dark:text-white hover:text-primary-900 dark:hover:text-primary-900 w-fit;
    }
  }

  &__bottom {
    @apply relative isolate my-12 flex justify-between items-center border-t border-gray-600/20 pb-20 pt-6 text-sm;

    &__text {
      @apply text-gray-400 text-sm;
    }
  }
}
