.footer {
  @apply pt-16 pb-24;
  @apply bg-white dark:bg-dark-900 dark:text-white border-t border-gray-600/20;

  &__left {
    @apply flex flex-col w-full gap-4 pb-8 xl:pb-0;
  }

  &__right {
    @apply grid grid-cols-2 xl:grid-cols-4 w-full;
  }

  &__links-section {
    @apply col-span-1 flex flex-col gap-2 text-sm;
  }

  &__link-title {
    @apply mb-2 text-gray-400 dark:text-gray-400;
  }

  &__link {
    @apply font-medium text-gray-950 dark:text-white hover:text-primary-900 dark:hover:text-primary-900 w-fit;
  }
}
