.footer {
  @apply py-24 bg-dark-100;

  &__container {
    @apply  flex flex-row;
  }

  &__left {
    @apply flex flex-col w-full gap-4 pb-8 xl:pb-0;
  }

  &__right {
    @apply grid grid-cols-2 xl:grid-cols-4 w-full;
  }

  &__links-section {
    @apply col-span-1 flex flex-col gap-2;
  }

  &__link-title {
    @apply mb-2 font-extrabold text-dark-900;
  }

  &__link {
    @apply  text-dark-400  hover:text-primary-900  w-fit hover:underline;
  }

  &__description {
    @apply text-dark-400  w-3/4 ;
  }
}
