.pagination {
  @apply py-16 bg-white text-dark-900 w-full;

  &__container {
    @apply flex flex-col gap-8;
  }

  &__header {
    @apply flex items-center gap-4;
  }

  &__header-title {
    @apply text-lg font-semibold;
  }

  &__header-info {
    @apply ml-auto hidden md:inline-block ;
  }

  &__grid {
    @apply grid gap-4 grid-cols-3 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-8 xl:grid-cols-12;
  }

  &__no-icons {
    @apply flex flex-col items-center justify-center h-[35rem];
  }

  &__no-icons-title {
    @apply text-lg font-extrabold;
  }

  &__no-icons-description {
    @apply text-dark-400;
  }

  &__footer {
    @apply flex flex-row justify-center lg:justify-between;
  }
}
