
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&family=Space+Grotesk&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
	line-height: 1.75;
  font-family: 'Space Grotesk', sans-serif;
  color: #000000;
  font-size:  16px;
	font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
}

html {
	scroll-behavior: smooth;
}



.text-title {
  font-family: 'Shrikhand', cursive;
  font-size: 2.5rem;
  line-height: 25px;
  font-weight: 400;
}

.text-subtitle {
  font-size: 1.2rem;
  line-height: 25px;
  font-weight: 600;
}


.text-decor{
  line-height: 25px;
  font-weight: 400;
}