
@import url('https://fonts.googleapis.com/css2?family=Damion&family=Space+Grotesk&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
	line-height: 1.75;
  font-family: 'Space Grotesk', sans-serif;
  color: #001c41;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
}

html {
	scroll-behavior: smooth;
}



.text-title {
  font-family: 'Damion', cursive;
  font-size: 2.5rem;
  line-height: 25px;
  font-weight: 600;
}

.text-subtitle {
  font-size: 1rem;
  line-height: 25px;
  font-weight: 600;
}


.text-decor{
 
  line-height: 25px;
  font-weight: 400;
}