.dropdown-container {
  @apply relative;

  &__title {
    @apply mb-2 text-sm font-bold;
  }
}

.dropdown {
  @apply flex items-center justify-between w-full gap-4 px-4 py-2 text-sm
  bg-white text-dark-900 border
  dark:bg-dark-800 dark:text-white dark:border-dark-400/20;

  &:hover {
    @apply cursor-pointer bg-dark-100 dark:bg-dark-700;
  }

  &--small {
    @apply h-8 px-2;
    width: fit-content;
  }

  &--disabled {
    @apply bg-dark-100 text-dark-400
    dark:bg-dark-800 dark:text-dark-200 dark:border-dark-400/20;

    &:hover {
      @apply cursor-auto;
    }
  }

  &__placeholder {
    @apply flex items-center gap-2;
  }

  &__item {
    @apply flex items-center gap-2 w-full px-4 py-2 text-left text-sm dark:bg-dark-800;

    &:hover {
      @apply cursor-pointer bg-dark-100 dark:bg-dark-700;
    }

    &--reset {
      @apply w-full border-t py-4 dark:border-dark-400/20;
    }

    &--selected {
      @apply bg-primary-800 dark:bg-primary-800 text-white;

      &:hover {
        @apply bg-primary-800 dark:bg-primary-900;
      }
    }

    &--disabled {
      @apply bg-dark-100 text-dark-400 dark:bg-dark-800 dark:text-dark-200;

      &:hover {
        @apply cursor-auto dark:bg-dark-800;
      }
    }
  }

  &__item-count {
    @apply ml-auto text-sm;
  }

  &__popup {
    @apply absolute z-30 mt-1 w-full overflow-hidden border bg-white text-dark-900
    dark:bg-dark-900 dark:text-white dark:border-dark-400/20 shadow-md;

    &--padding {
      @apply p-4;
    }
  }

  &__popup-scrollable {
    @apply max-h-80 overflow-y-auto;
  }
}

.dropdown-color {
  &__mark {
    @apply inline-block w-6 h-6 border border-dark-400/20;
  }

  &__input {
    @apply w-full h-10 border border-dark-400/20;

    &:hover {
      @apply cursor-pointer;
    }
  }

  &__item {
    @apply px-4 py-4 border border-dark-400/20 text-sm;

    &:hover {
      @apply cursor-pointer;
    }
  }

  &__grid {
    @apply grid grid-cols-4 gap-1 h-fit;
  }
}
