.dropdown-container {
  @apply relative;

  &__title {
    @apply mb-2 font-bold;
  }
}

.dropdown {
  @apply flex items-center justify-between w-full gap-4 px-4 py-2
  bg-white text-dark-900 border rounded-md;

  &:hover {
    @apply cursor-pointer bg-dark-100;
  }

  &--small {
    @apply h-8 px-2;
    width: fit-content;
  }

  &--disabled {
    @apply bg-dark-100 text-dark-400;

    &:hover {
      @apply cursor-auto;
    }
  }

  &__placeholder {
    @apply flex items-center gap-2;
  }

  &__item {
    @apply flex items-center gap-2 w-full px-4 py-2 text-left ;

    &:hover {
      @apply cursor-pointer bg-dark-100;
    }

    &--reset {
      @apply w-full border-t py-4;
    }

    &--selected {
      @apply bg-primary-800  text-white;

      &:hover {
        @apply bg-primary-800;
      }
    }

    &--disabled {
      @apply bg-dark-100 text-dark-400;

      &:hover {
        @apply cursor-auto;
      }
    }
  }

  &__item-count {
    @apply ml-auto ;
  }

  &__popup {
    @apply absolute z-30 mt-1 w-full overflow-hidden border bg-white text-dark-900
       shadow-md rounded-md;

    &--padding {
      @apply p-4;
    }
  }

  &__popup-scrollable {
    @apply max-h-80 overflow-y-auto;
  }
}

.dropdown-color {
  &__mark {
    @apply inline-block w-6 h-6 border border-dark-400/20;
  }

  &__input {
    @apply w-full h-10 border border-dark-400/20;

    &:hover {
      @apply cursor-pointer;
    }
  }

  &__item {
    @apply px-4 py-4 border border-dark-400/20 ;

    &:hover {
      @apply cursor-pointer;
    }
  }

  &__grid {
    @apply grid grid-cols-4 gap-1 h-fit;
  }
}
