.searchBar-container {
  @apply relative;
}

.searchBar {
  &__input {
    @apply flex flex-row overflow-hidden w-full justify-between items-center border  ;
    @apply bg-white text-dark-900 rounded-md;
  }

  &__input-icon {
    @apply h-full py-2 px-3 border-r border-dark-400/20 bg-primary-800 text-white ;
  }

  &__input-text {
    @apply h-full w-full py-2 px-4 bg-white text-dark-900   ;

    &:focus {
      @apply outline-none;
    }
  }

  &__popup {
    @apply absolute mt-1 w-fit bg-white  border z-30;
  }

  &__popup-item {
    @apply px-4 py-2 hover:bg-dark-100 cursor-pointer ;
  }
}
